body {
  background-color: #15202B;
}

.App {
  display: flex;
}

.tweet-box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
  width: 600px;
  height: 180px;
}

.text-end {
  text-align: end;
  padding-right: 10px;
}

.tweet-box-input {
  color: white;
  background-color: transparent;
  width: 100%;
  height: calc(100% - 55px);
  resize: none;
  border: 0;
}

.tweet-box-input:focus {
  outline: none;
}

.tweet-box-input::placeholder {
  color: white;
}

.btn {
  background-color: blue;
  color: white;
  width: 68px;
  height: 34px;
  border: none;
  border-radius: 5px;
}